@import url("../node_modules/open-iconic/font/css/open-iconic.min.css");
@import url("./css/panel.css");

:root {
    --background-color: #1E1E1E;
    --foreground-color: #D4D4D4;
    --panel-background-color: #303031;
    --input-background-color: #4E4E4E;
    --left-panel-width: 25rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
}

canvas {
    border: 0.25rem solid var(--foreground-color);
}

#simulations-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: var(--left-panel-width);
    position: absolute;
        top: 0;
        left: 0;
    width: 100%;
    height: 100%;
}